header {
    top: 0;
    position: fixed;
    width: 100%;
    background:#31AABF;
    animation: show 1s;
    z-index: 999;
    ul {
        font-size: 0;
        li {
            width: 20%;
            padding: 1% 0;
            display: inline-block;
            vertical-align: middle;
           .icon {
                display: inline-block;
                vertical-align: middle;
                background: url(../images/header-icons.png)no-repeat;
                background-size: 400%;
                width: 15%;
                padding-bottom: 15%;
           } 
           .text {
                display: inline-block;
                vertical-align: middle;
                padding-left: 5%;
                p {
                    color: #fff;
                    font-size: 14px;
                    padding-bottom: 2px;
                }
                span {
                    color: #fff;
                    font-size: 12px;
                }
           }
           label {
                cursor: pointer;
                &:hover {
                    .icon {
                        background-position-y: 100%;
                    }
                    .text {
                        p,span {
                            color: aqua;
                        }
                    }
                }
            }
            &.home {
                .icon {
                    display: block;
                    background: url(../images/home.png)no-repeat;
                    background-size: 100%;
                    cursor: pointer;
                    width: 20%;
                    padding-bottom: 20%;
                }
            }
            &.experience {
                .icon {
                    background-position-x: (1 / 3) * 100%;
                }
            }
            &.skill {
                .icon {
                    background-position-x: (2 / 3) * 100%;
                }
            }
            &.portfolio {
                .icon {
                    background-position-x: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:414px){
    header {
        ul {
            li {
                .icon {
                    width: 24px;
                    padding-bottom:24px;
                    margin: 0 auto;
                    display: block;
                }
               .text {
                    p {
                        display: none;
                    }
                    span {
                        display: none;
                    }
               }
               &.home {
                    .icon {
                        width: 24px;
                        padding-bottom:24px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}